
.container{
    width: 70vw;
    height: 100%;
}
.subcontainer{
    margin: 50px 0 ;
    padding: 20px;
    border-radius: 5px;
    height: fit-content;
    width:100%;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects {
    overflow: visible !important; 
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 40px;
    
}