
body{
    /*
    background-color: var(--main-back-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.28' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    */
    background-color: #211f26;
background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h16v2h-6v6h6v8H8v-6H2v6H0V0zm4 4h2v2H4V4zm8 8h2v2h-2v-2zm-8 0h2v2H4v-2zm8-8h2v2h-2V4z' fill='%23f2eff3' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
    
}
.container{
    width: 70vw;
    height: 100%;
}
.subcontainer{
    margin: 50px 0 ;
    padding: 20px;
    border-radius: 5px;
    height: fit-content;
    width:100%;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.display{
    color: #64172B;
    height: 60vh;
    width: 60vw;
    margin: 50px;
    border: 1px solid #E592A3;
    box-shadow: #E54666 0px 5px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #feeaed;
}
.display p {
    font-size: 30px;
    margin: 10px 0;
}
.MultiStepProgressBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 500px;
    width: 100%;
}
.MultiStepProgressBar .steps{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.steps .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: #999;
    font-size: 9px;
    font-weight: 500;
    border-radius: 50%;
    border: 4px solid #FEEAED;
    background: #fff;
    transition: all 200ms ease;
    transition-delay: 0s ;
}
.steps .circle.active{
    transition-delay: 100ms ;
    border-color: #CA244D;
    color: #CA244D;
}
.steps .progress{
    position: absolute;
    height: 4px;
    width: 100%;
    background: #FEEAED;
    z-index: -1;
}
.progress .indicator{
    position: absolute;
    height: 100%;
    width: 0%;
    background: #CA244D;
    transition: all 300ms ease;
}
.MultiStepProgressBar .buttons{
    display: flex;
    gap: 20px;
}
.buttons button{
    padding: 8px 25px;
    background: #CA244D;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transition: all 200ms linear;
}
.buttons button:active{
    transform: scale(0.97);
}
.buttons button:disabled{
    background: #E592A3;
    cursor: not-allowed;
}