

.subcontainer{
    border-radius: 5px;
    height: fit-content;
    width:100%;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.display{
    color: #64172B;
    height: 60vh;
    width: 60vw;
    margin: 50px;
    border: 1px solid #E592A3;
    box-shadow: #E54666 0px 5px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #feeaed;
}
.display p {
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
}
.MultiStepProgressBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 70%;
    width: 100%;
}
.MultiStepProgressBar .steps{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.steps .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width:4rem;
    color: #999;
    font-size: 0.6rem;
    font-weight: 500;
    border-radius: 50%;
    border: 7px solid #FEEAED;
    background: #fff;
    transition: all 200ms ease;
    transition-delay: 0s ;
}
.steps .circle.active{
    transition-delay: 100ms ;
    border-color: #CA244D;
    color: #CA244D;
}
.steps .progress{
    position: absolute;
    height: 7px;
    width: 100%;
    background: #FEEAED;
    z-index: -1;
}
.progress .indicator{
    position: absolute;
    height: 100%;
    width: 0%;
    background: #CA244D;
    transition: all 300ms ease;
}
.MultiStepProgressBar .buttons{
    display: flex;
    gap: 20px;
}
.buttons button{
    padding: 8px 25px;
    background: #CA244D;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transition: all 200ms linear;
}
.buttons button:active{
    transform: scale(0.97);
}
.buttons button:disabled{
    background: #E592A3;
    cursor: not-allowed;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .display{
        color: #64172B;
        height: 60vh;
        width: 95vw;
        margin: 50px;
        border: 1px solid #E592A3;
        box-shadow: #E54666 0px 5px 15px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #feeaed;
    }
    .display p {
        font-size: 1rem;
        margin: 10px 0;
        text-align: center;
    }
    .MultiStepProgressBar{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        max-width: 100%;
        width: 100%;
    }
    .steps .circle {
        height: 3rem;
        width:3rem;
        font-size: 0.5rem;
        border: 3px solid #FEEAED;
    }
}