
:root{
    --sb-track-color: #232e33;
    --sb-thumb-color: #BCBAC7;
    --sb-size: 14px;

    --color1: unset;
    --color2: unset;
    --color3: #E6F6EB;
    --color4: unset;
    --color5: unset;
    --color6: unset;
    --color7: unset;
    --color8: #5BB98B;
    --color9: unset;
    --color10: unset;
    --color11: #2A7E3B;
    --color12: #203C25;
}
body{
    height: 100vh;
    background-color: var(--color12);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.28' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
body::-webkit-scrollbar {
    width: var(--sb-size)
    }
    
    body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
    }
    
    body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    
    }
    
    @supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
                        var(--sb-track-color);
    }
}


header{
    border-bottom: 2px solid var(--color8);
}
header > a{
    color: var(--color8);
}
header > div > a{
    color: var(--color8);
}
header  > div > a:hover{
    color: var(--color3);
} 
img{
    height: 20px;
    width: 20px;
}
.container{
    width: 70vw;
    height: 100%;
    padding: 0 10px;
}
.subcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4,4fr);
    gap: 20px;
}
.skills > div {
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 200px;
    height: 100px;
    min-width: 150px;
    padding: 10px;
    border-radius: 5px;
    font-size: 30px;
}