:root{
    --color1: #FDFCFD ;
    --color2: #FAF9FB;
    --color3: #F2EFF3;
    --color4: #EAE7EC;
    --color5: #E3DFE6;
    --color6: #DBD8E0;
    --color7: #D0CDD7;
    --color8: #BCBAC7;
    --color9: #8E8C99;
    --color10: #84828E;
    --color11: #65636D;
    --color12: #211F26;
}
.skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid white ;
}
.skillstitle{
    width: 100%;
    color: var(--color3);
    font-size: 4rem;
    padding: 10px 0;
    margin: 0 0 30px;
    border-bottom: 3px solid var(--color3);
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
.skilllist{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.skill {
    border-radius: 10px;
    width: 90%;
    min-width: 90%;
    height: 200px;
    background-color: #EAE7EC;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10px 10px 10px 10px;
    font-size: 2.5rem;
    margin: 25px 0;
    border: 3px solid rgba(240, 46, 170, 0.4);
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    padding: 5px;
    font-weight: 1000;
    
}
.skill > div {
    padding: 3rem;
}

.skill.html{
    background-color: #dd4b25;
    color: var(--color3);

}
.skill.css{
    background-color: #005ada;
    color: var(--color3);
}
.skill.js{
    background-color: #e8d44d;
}
.skill.nodejs{
    background-color: #7fc728;

}
.skill.php {
    background-color: #4d588e;
    color: var(--color3);
}
.skill.sql{
    background-color: #294d71;
    color: var(--color3);
}
.skill.python{
    color: var(--color3);
    background: rgb(53,108,155);
    background: linear-gradient(90deg, rgba(53,108,155,1) 50%, rgba(247,214,82,1) 50%);
}
.skill.notion{
    background-color: var(--color12);
    color: var(--color3);
}
.skill.anytype{
    background-color: var(--color12);
    color: var(--color3);
}
.skill.git{
    background-color: #e84e31;
    color: var(--color3);
}
.skill.github{
    background-color:var(--color12);
    color: var(--color3);
}

.skill.blender{
    background-color: #e19601;
    color: var(--color3);
}

.skill.figma{
    background-color: #323232;
    color: #ea4c1d;
}

.skill.autocad{
    background-color: #de0f4d;
    color: var(--color3);
}
.skill.arduino{
    background-color: #15959a;
    color: var(--color3);
}

.skill.tailwind{
    background-color: #06b6d4;
    color: var(--color3);
}
.skill.laravel{
    background-color: #F05340;
    color: var(--color3);
}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .skill{
        min-width: 100%;
        box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    }
    .skilllist{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,2fr);
        row-gap: 0;
        column-gap: 10px;
        
    }
    .skill{
        font-size: 1rem;
        height: 100px;
    }
}