@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 110%;
    word-spacing: -1px;
}

body{
    overflow-x: hidden;
    height: fit-content;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
