@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    box-sizing: border-box;
   
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 110%;
    word-spacing: -1px;
}

body{
    overflow-x: hidden;
    background-color: #F9F9F8;
    height: fit-content;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #BCBBB5;

}
.home {
    display: flex;
    align-items: center;
    justify-content: center;
}
header > a{
    color: gray;
    display: block;
    width: fit-content;
    margin: 0;
    
}
header > a > img{
    height: 25px;
    width: 25px;
}
header > a > img:hover{
    transform: scale(1.1);
} 

header > div > a{
    text-decoration: none;
    color: gray;
}
header  > div > a:hover{
    color: black;
} 
.container{
    width: 70vw;
    height: 100%;
}
.subcontainer{
    width: 100%;
    height: 100%;
}
.banner{
    margin: 150px  0 0 0 ;
}
.greetings{
    color: #211F26;
    font-size: 60px;
    font-weight: 1000;
}
.name {
    height: 100%;
    color: #65636D;
    font-size: 150px;
    font-weight: 1000;
}
.desc{
    margin: 50px  0 0 0;
    font-size: 30px;
    color: #65636D;
    font-weight: 1000;
}
.desc > em{
    font-weight: 1000;
    color: #211F26;
}
.social{
    width: 100%;
    margin: 50px 0 ;
    display: flex;
    flex-direction: row;
}
.social > a {
    display: block;
    margin-right: 10px;
    padding:  5px 40px 5px 10px;
    border-radius: 5px;
    width: fit-content;
    background-color: #DBD8E0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #211F26;
}
.social > a > img{
    height: 25px;
    width: 25px;
    padding-right: 5px;
}
.about{
    margin:0 0 100px 0 ;
}
.text{
    font-size: 20px;
}
.text h2 {
    text-decoration: underline;
}
.text > p{
    margin: 20px 0 ;
}